<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tb_beijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,2},{1145,828}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1145,828}}</string>
                <key>sourceSize</key>
                <string>{1145,828}</string>
            </dict>
            <key>tb_biaoti1.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,2},{935,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{935,142}}</string>
                <key>sourceSize</key>
                <string>{935,142}</string>
            </dict>
            <key>tb_biaoti2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{944,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{944,133}}</string>
                <key>sourceSize</key>
                <string>{944,133}</string>
            </dict>
            <key>tb_collect1.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,832},{259,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,77}}</string>
                <key>sourceSize</key>
                <string>{259,77}</string>
            </dict>
            <key>tb_collect2.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,911},{259,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,77}}</string>
                <key>sourceSize</key>
                <string>{259,77}</string>
            </dict>
            <key>tb_freespin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,945},{348,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,50}}</string>
                <key>sourceSize</key>
                <string>{348,50}</string>
            </dict>
            <key>tb_freespin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,832},{655,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{655,59}}</string>
                <key>sourceSize</key>
                <string>{655,59}</string>
            </dict>
            <key>tb_freespin3.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,893},{547,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{547,50}}</string>
                <key>sourceSize</key>
                <string>{547,50}</string>
            </dict>
            <key>tb_kuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1428,2},{796,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{796,154}}</string>
                <key>sourceSize</key>
                <string>{796,154}</string>
            </dict>
            <key>tb_start1.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,832},{259,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,78}}</string>
                <key>sourceSize</key>
                <string>{259,78}</string>
            </dict>
            <key>tb_start2.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,912},{259,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,78}}</string>
                <key>sourceSize</key>
                <string>{259,78}</string>
            </dict>
            <key>tb_youwin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1181,945},{276,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,49}}</string>
                <key>sourceSize</key>
                <string>{276,49}</string>
            </dict>
            <key>tb_youwon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,948},{305,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,49}}</string>
                <key>sourceSize</key>
                <string>{305,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>res_fs160.pkm</string>
            <key>size</key>
            <string>{1584,999}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:50836d4e5975f4c85b6f75ef785e07b7:1/1$</string>
            <key>textureFileName</key>
            <string>res_fs160.pkm</string>
        </dict>
    </dict>
</plist>
