<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ctb_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{918,519}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{918,519}}</string>
                <key>sourceSize</key>
                <string>{918,519}</string>
            </dict>
            <key>ctb_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,2},{918,364}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{918,364}}</string>
                <key>sourceSize</key>
                <string>{918,364}</string>
            </dict>
            <key>ctb_biaoti3.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,925},{779,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{779,77}}</string>
                <key>sourceSize</key>
                <string>{781,81}</string>
            </dict>
            <key>ctb_cash.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1040},{584,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{584,43}}</string>
                <key>sourceSize</key>
                <string>{584,43}</string>
            </dict>
            <key>ctb_cash2.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,523},{24,61}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{24,61}}</string>
                <key>sourceSize</key>
                <string>{38,65}</string>
            </dict>
            <key>ctb_collect1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1960,2},{259,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,78}}</string>
                <key>sourceSize</key>
                <string>{259,78}</string>
            </dict>
            <key>ctb_collect2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1960,263},{259,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,78}}</string>
                <key>sourceSize</key>
                <string>{259,78}</string>
            </dict>
            <key>ctb_grand.png</key>
            <dict>
                <key>frame</key>
                <string>{{1802,499},{484,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{484,111}}</string>
                <key>sourceSize</key>
                <string>{484,111}</string>
            </dict>
            <key>ctb_in.png</key>
            <dict>
                <key>frame</key>
                <string>{{1648,1004},{169,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,41}}</string>
                <key>sourceSize</key>
                <string>{169,41}</string>
            </dict>
            <key>ctb_kuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,769},{796,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{796,154}}</string>
                <key>sourceSize</key>
                <string>{796,154}</string>
            </dict>
            <key>ctb_kuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,611},{798,156}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{798,156}}</string>
                <key>sourceSize</key>
                <string>{800,158}</string>
            </dict>
            <key>ctb_major.png</key>
            <dict>
                <key>frame</key>
                <string>{{1842,2},{495,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{495,116}}</string>
                <key>sourceSize</key>
                <string>{495,116}</string>
            </dict>
            <key>ctb_mini.png</key>
            <dict>
                <key>frame</key>
                <string>{{1692,611},{305,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,108}}</string>
                <key>sourceSize</key>
                <string>{305,108}</string>
            </dict>
            <key>ctb_minor.png</key>
            <dict>
                <key>frame</key>
                <string>{{1915,524},{484,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{484,111}}</string>
                <key>sourceSize</key>
                <string>{484,111}</string>
            </dict>
            <key>ctb_pr.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,1004},{754,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{754,51}}</string>
                <key>sourceSize</key>
                <string>{754,51}</string>
            </dict>
            <key>ctb_wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,368},{846,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{846,241}}</string>
                <key>sourceSize</key>
                <string>{846,241}</string>
            </dict>
            <key>ctb_youwon.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,1040},{253,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,42}}</string>
                <key>sourceSize</key>
                <string>{253,42}</string>
            </dict>
            <key>ctb_zhezhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,523},{888,515}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{888,515}}</string>
                <key>sourceSize</key>
                <string>{888,515}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>res_cash160.pkm</string>
            <key>size</key>
            <string>{2040,1085}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0863563ab753708d774022ac1478310d:1/1$</string>
            <key>textureFileName</key>
            <string>res_cash160.pkm</string>
        </dict>
    </dict>
</plist>
