<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="4"
    android:versionName="4"
    android:installLocation="auto"
    android:compileSdkVersion="23"
    android:compileSdkVersionCodename="6.0-2438415"
    package="com.dancingbogo.skyrolline"
    platformBuildVersionCode="23"
    platformBuildVersionName="6.0-2438415">
    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="29"/>
    <supports-screens
        android:anyDensity="true"
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"/>
    <meta-data
        android:name="CMPLAY_SYNC_IPC"
        android:value="com.cmplay.kinfoc.sync"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.android.vending.BILLING"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-feature android:glEsVersion="0x20000"/>
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.touchscreen.multitouch"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.touchscreen.multitouch.distinct"
        android:required="false"/>
    <uses-permission android:name="com.android.vending.CHECK_LICENSE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <meta-data
        android:name="android.support.VERSION"
        android:value="25.3.1"/>
    <application
        android:label="@string/app_name"
        android:icon="@drawable/app_icon"
        android:name="com.dancingbogo.skyrolline.GameApp"
        android:testOnly="false"
        android:allowBackup="false"
        android:largeHeap="true"
        android:supportsRtl="true">
        <meta-data
            android:name="SET_PROMOTION_LOG"
            android:value="false"/>
        <meta-data
            android:name="unity.build-id"
            android:value="51ab80af-cbe7-4e4b-8493-de4a37a54b1f"/>
        <meta-data
            android:name="unity.splash-mode"
            android:value="2"/>
        <meta-data
            android:name="unity.splash-enable"
            android:value="true"/>
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1"/>
        <activity
            android:label="@string/app_name"
            android:name="com.dancingbogo.skyrolline.AppActivity"
            android:launchMode="singleTop"
            android:screenOrientation="sensorPortrait"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>
            <meta-data
                android:name="unityplayer.SkipPermissionsDialog"
                android:value="true"/>
            <meta-data
                android:name="unityplayer.UnityActivity"
                android:value="true"/>
            <meta-data
                android:name="unityplayer.ForwardNativeEventsToDalvik"
                android:value="true"/>
        </activity>
        <receiver
            android:name="com.appsflyer.MultipleInstallBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.dancingbogo.skyrolline.notification.Level8NoticationBroadcast"
            android:exported="true">
            <intent-filter>
                <action android:name="Level8NoticationBroadcast_Action"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.dancingbogo.skyrolline.notification.NotificationDeletedBroadcast"
            android:exported="true">
            <intent-filter>
                <action android:name="NotificationDeletedBroadcast_Action"/>
            </intent-filter>
        </receiver>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <meta-data
            android:name="com.google.android.gms.games.APP_ID"
            android:value="2147483647"/>
        <activity
            android:name="com.applovin.adview.AppLovinInterstitialActivity"
            android:configChanges="screenSize|orientation"/>
        <activity
            android:name="com.applovin.adview.AppLovinConfirmationActivity"
            android:configChanges="screenSize|orientation"/>
        <meta-data
            android:name="applovin.sdk.key"
            android:value="UdAAPq-zrVhcaaKovlmPEn8qXmrUnzGFbRP_FOz5uehTE0G7l0X-nfpJPepBc3QCVrClEAr7qWa2XsAHshGdM4"/>
        <meta-data
            android:name="applovin.sdk.verbose_logging"
            android:value="false"/>
        <activity
            android:theme="@style/vuugle_theme"
            android:name="com.vuugle.warren.ui.VuugleActivity"
            android:launchMode="singleTop"
            android:configChanges="smallestScreenSize|screenSize|screenLayout|orientation|keyboardHidden"/>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.vuugle.warren.ui.VuugleFlexViewActivity"
            android:launchMode="singleTop"
            android:configChanges="smallestScreenSize|screenSize|screenLayout|orientation|keyboardHidden"
            android:hardwareAccelerated="true"/>
        <activity
            android:name="com.mopub.common.privacy.ConsentDialogActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:name="com.mopub.common.MoPubBrowser"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:name="com.mopub.mobileads.MoPubActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:name="com.mopub.mobileads.MraidActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:name="com.mopub.mobileads.RewardedMraidActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:name="com.mopub.mobileads.MraidVideoPlayerActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:theme="@android:style/Theme.Translucent"
            android:name="com.google.android.gms.ads.AdActivity"
            android:exported="false"
            android:configChanges="smallestScreenSize|screenSize|uiMode|screenLayout|orientation|keyboardHidden|keyboard"/>
        <receiver
            android:name="com.dancingbogo.skyrolline.CMCampaignTrackingReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <service
            android:name="com.dancingbogo.skyrolline.commons.RollingSkyService"
            android:process=":service"/>
        <activity
            android:label="@string/app_name"
            android:name="com.dancingbogo.skyrolline.webview.ui.WebViewActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:configChanges="orientation"/>
        <receiver
            android:name="com.dancingbogo.skyrolline.webview.broadcast.GameBroadcast"
            android:exported="true">
            <intent-filter>
                <action android:name="com.dancingbogo.skyrolline.webview.broadcast.gamebroadcast"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.dancingbogo.skyrolline.webview.broadcast.WebBroadcast"
            android:exported="true">
            <intent-filter>
                <action android:name="com.dancingbogo.skyrolline.webview.broadcast.WebBroadcast"/>
            </intent-filter>
        </receiver>
        <provider
            android:name="com.dancingbogo.skyrolline.ipc.IpcProvider"
            android:exported="false"
            android:process=":service"
            android:authorities="com.dancingbogo.skyrolline.ipc_provider"/>
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name"
            android:name="com.facebook.FacebookActivity"
            android:configChanges="screenSize|screenLayout|orientation|keyboardHidden|keyboard"/>
        <activity
            android:name="com.facebook.ads.InterstitialAdActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true"
            android:authorities="com.facebook.app.FacebookContentProvider1082192450000087"/>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:exported="false"
            android:authorities="com.dancingbogo.skyrolline.provider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
        <service
            android:name="com.cmplay.kinfoc.report.service.KinfocReportSerivce"
            android:process=":service">
            <intent-filter>
                <action android:name="start_service"/>
            </intent-filter>
        </service>
        <receiver
            android:name="com.cmplay.kinfoc.report.service.NetWorkChangeReceiver"
            android:process=":service">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <service
            android:name="com.cmplay.internalpush.InnerPushService"
            android:process=":service"/>
        <provider
            android:name="com.cmplay.base.util.ipc.IpcProvider"
            android:exported="false"
            android:process=":service"
            android:authorities="com.dancingbogo.skyrolline.innerpush_provider"/>
        <activity
            android:theme="@style/innerpush_theme"
            android:name="com.cmplay.internalpush.ui.OpenScreenActivity"
            android:launchMode="singleTask"
            android:screenOrientation="sensorPortrait"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:theme="@style/innerpush_theme"
            android:name="com.cmplay.internalpush.ui.OpenScreenVideoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="sensorPortrait"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:windowSoftInputMode="adjustResize"
            android:hardwareAccelerated="true"/>
        <activity
            android:theme="@style/innerpush_theme"
            android:name="com.cmplay.internalpush.ui.InsertScreenActivity"
            android:launchMode="singleTask"
            android:screenOrientation="sensorPortrait"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:theme="@style/innerpush_theme"
            android:name="com.cmplay.internalpush.video.IncentiveVideoPlayActivity"
            android:process=":inner"
            android:launchMode="singleTask"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:hardwareAccelerated="true"/>
        <activity
            android:theme="@style/innerpush_theme"
            android:name="com.cmplay.internalpush.video.VideoAdDetailActivity"
            android:process=":inner"
            android:launchMode="singleTask"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:name="com.ironsource.sdk.controller.ControllerActivity"
            android:configChanges="screenSize|orientation"
            android:hardwareAccelerated="true"/>
        <activity
            android:theme="@android:style/Theme.Translucent"
            android:name="com.ironsource.sdk.controller.InterstitialActivity"
            android:configChanges="screenSize|orientation"
            android:hardwareAccelerated="true"/>
        <activity
            android:theme="@android:style/Theme.Translucent"
            android:name="com.ironsource.sdk.controller.OpenUrlActivity"
            android:configChanges="screenSize|orientation"
            android:hardwareAccelerated="true"/>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:name="com.dancingbogo.skyrolline.ad.interstitial.admob.AdmobTestActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:name="com.unity3d.ads.adunit.AdUnitActivity"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc"
            android:hardwareAccelerated="true"/>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:name="com.unity3d.ads.adunit.AdUnitTransparentActivity"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc"
            android:hardwareAccelerated="true"/>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:name="com.unity3d.ads.adunit.AdUnitTransparentSoftwareActivity"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc"
            android:hardwareAccelerated="false"/>
        <activity
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:name="com.unity3d.ads.adunit.AdUnitSoftwareActivity"
            android:configChanges="fontScale|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|navigation|keyboardHidden|keyboard|touchscreen|locale|mnc|mcc"
            android:hardwareAccelerated="false"/>
        <activity
            android:name="com.facebook.ads.AudienceNetworkActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:name="com.applovin.sdk.AppLovinWebViewActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:name="com.aiming.mdt.adt.video.VideoActivity"
            android:screenOrientation="user"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:name="com.aiming.mdt.adt.interstitial.InterstitialActivity"
            android:screenOrientation="user"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:name="com.aiming.mdt.adt.interactive.InteractiveActivity"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.aiming.mdt.adt.AdtActivity"
            android:configChanges="screenSize|keyboardHidden"/>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:name="com.tapjoy.TJAdUnitActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:hardwareAccelerated="true"/>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.tapjoy.TJContentActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:hardwareAccelerated="true"/>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:name="com.chartboost.sdk.CBImpressionActivity"
            android:excludeFromRecents="true"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:hardwareAccelerated="true"/>
        <receiver
            android:name="com.tapjoy.InstallReferrerReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.tapjoy.TapjoyReceiver"/>
        <activity
            android:name="com.youappi.sdk.AdActivity"
            android:configChanges="screenSize|orientation"/>
        <receiver
            android:name="com.cmplay.base.util.webview.broadcast.GameBroadcast"
            android:exported="true">
            <intent-filter>
                <action android:name="com.cmplay.base.util.webview.broadcast.gamebroadcast"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.cmplay.base.util.webview.broadcast.WebBroadcast"
            android:exported="true"
            android:process=":web">
            <intent-filter>
                <action android:name="com.cmplay.base.util.webview.broadcast.WebBroadcast"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.cmplay.base.util.notify.NotifyReceiver">
            <intent-filter>
                <action android:name="com.cmplay.base.util.notify"/>
            </intent-filter>
        </receiver>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:name="com.cmplay.gppay.UnityPayActivity"/>
        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true"
            android:exported="false"/>
        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false"/>
        <service
            android:name="com.google.android.gms.analytics.AnalyticsJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:enabled="true"
            android:exported="false"/>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.google.android.gms.common.api.GoogleApiActivity"
            android:exported="false"/>
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true"/>
        <activity
            android:label="Test By Network"
            android:name="com.google.ads.mediation.testsuite.activities.NetworkListActivity"/>
        <activity
            android:label="Test Network Adapter"
            android:name="com.google.ads.mediation.testsuite.activities.NetworkDetailActivity"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:label="Native Ad Preview"
            android:name="com.google.ads.mediation.testsuite.activities.NativeAdActivity"/>
        <activity
            android:label="AdMob Mediation Test Suite"
            android:name="com.google.ads.mediation.testsuite.activities.InitialActivity"/>
        <activity
            android:label="Test By Ad Unit"
            android:name="com.google.ads.mediation.testsuite.activities.AdUnitListActivity"/>
        <activity
            android:label="Please select a country"
            android:name="com.google.ads.mediation.testsuite.activities.CountryListActivity"/>
        <meta-data
            android:name="com.android.volding.derived.apk.id"
            android:value="1"/>
        <meta-data
            android:name="com.android.vending.derived.apk.id"
            android:value="1"/>
    </application>
</manifest>
