<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1786"
    android:versionName="17.86"
    android:compileSdkVersion="36"
    android:compileSdkVersionCodename="16"
    android:requiredSplitTypes="base__abi,base__density"
    android:splitTypes=""
    package="com.rebet.android_frontend"
    platformBuildVersionCode="36"
    platformBuildVersionName="16">
    <uses-sdk
        android:minSdkVersion="25"
        android:targetSdkVersion="36"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.USE_BIOMETRIC"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <queries>
        <package android:name="com.facebook.katana"/>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService"/>
        </intent>
        <intent>
            <action android:name="org.chromium.intent.action.PAY"/>
        </intent>
        <intent>
            <action android:name="org.chromium.intent.action.IS_READY_TO_PAY"/>
        </intent>
        <intent>
            <action android:name="org.chromium.intent.action.UPDATE_PAYMENT_DETAILS"/>
        </intent>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.SENDTO"/>
            <data android:scheme="mailto"/>
            <category android:name="android.intent.category.DEFAULT"/>
        </intent>
        <package android:name="com.google.android.apps.maps"/>
        <intent>
            <action android:name="com.appsflyer.referrer.INSTALL_PROVIDER"/>
        </intent>
        <package android:name="com.instagram.android"/>
        <package android:name="com.facebook.lite"/>
        <package android:name="com.samsung.android.mapsagent"/>
        <package android:name="androidx.test.orchestrator"/>
        <package android:name="androidx.test.services"/>
        <package android:name="com.google.android.apps.common.testing.services"/>
        <intent>
            <action android:name="android.intent.action.SENDTO"/>
            <data android:scheme="smsto"/>
        </intent>
    </queries>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE"/>
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.screen.portrait"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.screen.landscape"
        android:required="false"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="com.rebet.android_frontend.permission.WRITE_SCHEDULE"/>
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"/>
    <uses-permission android:name="android.permission.ACCESS_ADSERVICES_ATTRIBUTION"/>
    <uses-permission android:name="android.permission.ACCESS_ADSERVICES_AD_ID"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-feature
        android:glEsVersion="0x20000"
        android:required="true"/>
    <uses-permission android:name="com.samsung.android.mapsagent.permission.READ_APP_INFO"/>
    <uses-permission android:name="com.huawei.appmarket.service.commondata.permission.GET_COMMON_DATA"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.REORDER_TASKS"/>
    <permission
        android:name="com.rebet.android_frontend.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"
        android:protectionLevel="signature"/>
    <uses-permission android:name="com.rebet.android_frontend.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"/>
    <uses-permission android:name="com.sec.android.provider.badge.permission.READ"/>
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE"/>
    <uses-permission android:name="com.htc.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.htc.launcher.permission.UPDATE_SHORTCUT"/>
    <uses-permission android:name="com.sonyericsson.home.permission.BROADCAST_BADGE"/>
    <uses-permission android:name="com.sonymobile.home.permission.PROVIDER_INSERT_BADGE"/>
    <uses-permission android:name="com.anddoes.launcher.permission.UPDATE_COUNT"/>
    <uses-permission android:name="com.majeur.launcher.permission.UPDATE_BADGE"/>
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE"/>
    <uses-permission android:name="com.huawei.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.huawei.android.launcher.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_APP_BADGE"/>
    <uses-permission android:name="com.oppo.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.oppo.launcher.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="me.everything.badger.permission.BADGE_COUNT_READ"/>
    <uses-permission android:name="me.everything.badger.permission.BADGE_COUNT_WRITE"/>
    <application
        android:theme="@style/AppTheme"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:name="com.rebet.android_frontend.MainApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:supportsRtl="true"
        android:extractNativeLibs="false"
        android:fullBackupContent="@xml/appsflyer_backup_rules"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:appCategory="game"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:requestLegacyExternalStorage="true"
        android:dataExtractionRules="@xml/appsflyer_data_extraction_rules">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token"/>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_notification"/>
        <meta-data
            android:name="appId"
            android:value="b382b1cb-076e-4b21-bf2c-cd9858e509ba"/>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/notification_color"/>
        <activity
            android:theme="@style/com_facebook_activity_theme"
            android:label="@string/app_name"
            android:name="com.facebook.FacebookActivity"
            android:configChanges="screenSize|screenLayout|orientation|keyboardHidden|keyboard"/>
        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true"
            android:authorities="com.rebet.android_frontend.FacebookContentProvider1190660852764483"/>
        <activity
            android:label="@string/app_name"
            android:name="com.rebet.android_frontend.MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="smallestScreenSize|screenSize|uiMode|screenLayout|orientation|keyboardHidden|keyboard"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="com.rebet.app"/>
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="https"
                    android:host="rebet.appsonair.link"/>
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="https"
                    android:host="play.rebet.app"
                    android:pathPrefix="/share"/>
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="https"
                    android:host="rebet.onelink.me"/>
            </intent-filter>
        </activity>
        <service
            android:name="com.braze.push.BrazeFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <receiver
            android:name="com.braze.BrazeBootReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <provider
            android:name="com.reactnativecommunity.webview.RNCWebViewFileProvider"
            android:exported="false"
            android:authorities="com.rebet.android_frontend.fileprovider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths"/>
        </provider>
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="true"/>
        <meta-data
            android:name="firebase_analytics_collection_deactivated"
            android:value="false"/>
        <meta-data
            android:name="google_analytics_adid_collection_enabled"
            android:value="true"/>
        <meta-data
            android:name="google_analytics_ssaid_collection_enabled"
            android:value="true"/>
        <meta-data
            android:name="google_analytics_automatic_screen_reporting_enabled"
            android:value="true"/>
        <meta-data
            android:name="google_analytics_default_allow_analytics_storage"
            android:value="true"/>
        <meta-data
            android:name="google_analytics_default_allow_ad_storage"
            android:value="true"/>
        <meta-data
            android:name="google_analytics_default_allow_ad_user_data"
            android:value="true"/>
        <meta-data
            android:name="google_analytics_default_allow_ad_personalization_signals"
            android:value="true"/>
        <service
            android:name="io.invertase.firebase.messaging.ReactNativeFirebaseMessagingHeadlessService"
            android:exported="false"/>
        <service
            android:name="io.invertase.firebase.messaging.ReactNativeFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <receiver
            android:name="io.invertase.firebase.messaging.ReactNativeFirebaseMessagingReceiver"
            android:permission="com.google.android.c2dm.permission.SEND"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </receiver>
        <meta-data
            android:name="delivery_metrics_exported_to_big_query_enabled"
            android:value="false"/>
        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="true"/>
        <meta-data
            android:name="firebase_messaging_notification_delegation_enabled"
            android:value="false"/>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value=""/>
        <meta-data
            android:name="app_data_collection_default_enabled"
            android:value="true"/>
        <service
            android:name="com.google.firebase.components.ComponentDiscoveryService"
            android:exported="false"
            android:directBootAware="true">
            <meta-data
                android:name="com.google.firebase.components:io.invertase.firebase.app.ReactNativeFirebaseAppRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.auth.FirebaseAuthRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingKtxRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsKtxRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.FirebaseCommonKtxRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.datatransport.TransportRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <provider
            android:name="io.invertase.firebase.app.ReactNativeFirebaseAppInitProvider"
            android:exported="false"
            android:authorities="com.rebet.android_frontend.reactnativefirebaseappinitprovider"
            android:initOrder="99"/>
        <meta-data
            android:name="io.sentry.auto-init"
            android:value="false"/>
        <provider
            android:name="com.reactnative.ivpusic.imagepicker.IvpusicImagePickerFileProvider"
            android:exported="false"
            android:authorities="com.rebet.android_frontend.provider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/ivpusic_imagepicker_provider_paths"/>
        </provider>
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name="com.yalantis.ucrop.UCropActivity"/>
        <service
            android:name="com.google.android.gms.metadata.ModuleDependencies"
            android:enabled="false"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.metadata.MODULE_DEPENDENCIES"/>
            </intent-filter>
            <meta-data
                android:name="photopicker_activity:0:required"
                android:value=""/>
        </service>
        <provider
            android:name="com.imagepicker.ImagePickerProvider"
            android:exported="false"
            android:authorities="com.rebet.android_frontend.imagepickerprovider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/imagepicker_provider_paths"/>
        </provider>
        <meta-data
            android:name="com.plaid.link.react_native"
            android:value="12.8.0"/>
        <provider
            android:name="cl.json.RNShareFileProvider"
            android:exported="false"
            android:authorities="com.rebet.android_frontend.rnshare.fileprovider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/share_download_paths"/>
        </provider>
        <activity
            android:theme="@style/Theme.TalkSdk.Call"
            android:name="zendesk.talk.android.internal.call.TalkCallActivity"
            android:launchMode="singleTask"/>
        <activity
            android:theme="@style/Theme.TalkSdk.CallSetup"
            android:name="zendesk.talk.android.internal.call.setup.TalkCallSetupActivity"/>
        <service
            android:name="zendesk.talk.android.internal.call.service.TalkCallService"
            android:foregroundServiceType="microphone"/>
        <activity
            android:name="com.braze.ui.BrazeWebViewActivity"
            android:exported="false"/>
        <activity
            android:name="com.braze.ui.activities.ContentCardsActivity"
            android:exported="false"/>
        <activity
            android:theme="@style/Braze.PushTrampoline.Transparent"
            android:name="com.braze.push.NotificationTrampolineActivity"
            android:exported="false"
            android:taskAffinity=".NotificationTrampolineActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:autoRemoveFromRecents="true"/>
        <receiver
            android:name="com.braze.push.BrazePushReceiver"
            android:exported="false"/>
        <receiver
            android:name="com.braze.location.BrazeActionReceiver"
            android:exported="true"/>
        <activity
            android:theme="@style/TransparentTheme"
            android:name="com.orkestapay.orkestapay.core.googlepay.GooglePayActivity"
            android:exported="false"/>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name="com.orkestapay.orkestapay.core.clicktopay.WebviewActivity"
            android:exported="false"/>
        <provider
            android:name="com.plaid.link.internal.PlaidFileProvider"
            android:exported="false"
            android:authorities="com.rebet.android_frontend.com.plaid.link.internal.PlaidFileProvider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/plaid_file_paths"/>
        </provider>
        <activity
            android:theme="@style/Theme.MaterialComponents.NoActionBar"
            android:name="com.plaid.internal.LinkRedirectActivity"
            android:exported="true"
            android:autoRemoveFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="plaid"/>
                <data android:host="complete"/>
                <data android:host="redirect"/>
                <data android:host="resume"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/PlaidTransparentTheme"
            android:name="com.plaid.internal.link.LinkActivity"
            android:exported="false"
            android:launchMode="singleInstance"
            android:windowSoftInputMode="adjustPan"/>
        <receiver
            android:name="io.radar.sdk.RadarLocationReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="999">
                <action android:name="io.radar.sdk.LocationReceiver.SYNCED_GEOFENCES"/>
                <action android:name="io.radar.sdk.LocationReceiver.GEOFENCE"/>
                <action android:name="io.radar.sdk.LocationReceiver.LOCATION"/>
                <action android:name="io.radar.sdk.LocationReceiver.BEACON"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <service
            android:name="io.radar.sdk.RadarJobScheduler"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"/>
        <service
            android:name="io.radar.sdk.RadarForegroundService"
            android:foregroundServiceType="location"/>
        <uses-library
            android:name="android.test.runner"
            android:required="false"/>
        <uses-library
            android:name="android.test.base"
            android:required="false"/>
        <uses-library
            android:name="android.test.mock"
            android:required="false"/>
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name="com.appsonair.appsync.activities.AppUpdateActivity"
            android:exported="false"/>
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name="com.appsonair.appsync.activities.MaintenanceActivity"
            android:exported="false"/>
        <activity
            android:theme="@style/Paystack.Dialog.PinEntry"
            android:name="co.paystack.android.ui.PinActivity"/>
        <activity
            android:theme="@style/Paystack.Dialog.OtpEntry"
            android:name="co.paystack.android.ui.OtpActivity"/>
        <activity
            android:theme="@style/Paystack.Dialog.OtpEntry"
            android:name="co.paystack.android.ui.AuthActivity"/>
        <activity
            android:theme="@style/Paystack.Dialog.CardEntry"
            android:name="co.paystack.android.ui.CardActivity"/>
        <activity
            android:theme="@style/Paystack.Dialog"
            android:name="co.paystack.android.ui.AddressVerificationActivity"/>
        <activity
            android:theme="@style/Theme.SalesIQ.Base"
            android:name="com.zoho.livechat.android.modules.common.ui.activities.PreChatFormActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            android:enableOnBackInvokedCallback="false"/>
        <activity
            android:theme="@style/Theme.SalesIQ.Base"
            android:name="com.zoho.livechat.android.modules.messages.ui.activities.MobilistenImageViewerActivity"
            android:exported="false"
            android:enableOnBackInvokedCallback="false"/>
        <provider
            android:name="com.zoho.livechat.android.provider.MobilistenInitProvider"
            android:exported="false"
            android:authorities="com.rebet.android_frontend.mobilisteninitprovider"
            android:initOrder="55"
            android:directBootAware="true"/>
        <activity
            android:theme="@style/Theme.SalesIQ.Base"
            android:name="com.zoho.livechat.android.modules.common.ui.activities.SalesIQActivity"
            android:configChanges="screenSize|orientation|keyboardHidden|keyboard"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:enableOnBackInvokedCallback="false"/>
        <activity
            android:theme="@style/Theme.SalesIQ.Base"
            android:name="com.zoho.livechat.android.ui.activities.ArticlesActivity"
            android:configChanges="screenSize|orientation|keyboardHidden|keyboard"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:enableOnBackInvokedCallback="false"/>
        <activity
            android:theme="@style/Theme.SalesIQ.Base"
            android:name="com.zoho.livechat.android.ui.activities.ChatActivity"
            android:launchMode="singleTask"
            android:configChanges="screenSize|orientation|keyboardHidden|keyboard"
            android:windowSoftInputMode="adjustResize"
            android:enableOnBackInvokedCallback="false"/>
        <activity
            android:theme="@style/SalesIQ.ChatImageView"
            android:name="com.zoho.livechat.android.ViewBotCardImageActivity"
            android:configChanges="screenSize|orientation|keyboardHidden|keyboard"
            android:enableOnBackInvokedCallback="false"/>
        <provider
            android:name="com.zoho.livechat.android.provider.ZohoLDContentProvider"
            android:writePermission="com.rebet.android_frontend.permission.WRITE_SCHEDULE"
            android:exported="false"
            android:authorities="com.rebet.android_frontend.livechat"/>
        <provider
            android:name="com.zoho.livechat.android.provider.MobilistenFileProvider"
            android:exported="false"
            android:authorities="com.rebet.android_frontend.siqfileprovider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/siq_provider_paths"/>
        </provider>
        <receiver android:name="com.zoho.livechat.android.NotificationDeleteReceiver"/>
        <activity
            android:theme="@style/Theme.SalesIQ.Base"
            android:name="com.zoho.livechat.android.modules.notifications.ui.activities.NotificationReceiverActivity"
            android:noHistory="true"/>
        <receiver
            android:name="com.zoho.salesiqembed.android.TriggerReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="MOBILISTEN_TRIGGER_RECEIVER"/>
            </intent-filter>
        </receiver>
        <activity android:name="com.facebook.CustomTabMainActivity"/>
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="fbconnect"
                    android:host="cct.com.rebet.android_frontend"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.google.firebase.auth.internal.GenericIdpActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="genericidp"
                    android:host="firebase.auth"
                    android:path="/"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.google.firebase.auth.internal.RecaptchaActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="recaptcha"
                    android:host="firebase.auth"
                    android:path="/"/>
            </intent-filter>
        </activity>
        <service
            android:name="androidx.credentials.playservices.CredentialProviderMetadataHolder"
            android:enabled="true"
            android:exported="false">
            <meta-data
                android:name="androidx.credentials.CREDENTIAL_PROVIDER_KEY"
                android:value="androidx.credentials.playservices.CredentialProviderPlayServicesImpl"/>
        </service>
        <activity
            android:theme="@style/Theme.Hidden"
            android:name="androidx.credentials.playservices.HiddenActivity"
            android:enabled="true"
            android:exported="false"
            android:configChanges="screenSize|screenLayout|orientation|keyboardHidden"
            android:fitsSystemWindows="true"/>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity"
            android:exported="false"
            android:excludeFromRecents="true"/>
        <service
            android:name="com.google.android.gms.auth.api.signin.RevocationBoundService"
            android:permission="com.google.android.gms.auth.api.signin.permission.REVOCATION_NOTIFICATION"
            android:exported="true"
            android:visibleToInstantApps="true"/>
        <receiver
            android:name="com.google.android.gms.measurement.AppMeasurementReceiver"
            android:enabled="true"
            android:exported="false"/>
        <service
            android:name="com.google.android.gms.measurement.AppMeasurementService"
            android:enabled="true"
            android:exported="false"/>
        <service
            android:name="com.google.android.gms.measurement.AppMeasurementJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:enabled="true"
            android:exported="false"/>
        <receiver
            android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver"
            android:permission="com.google.android.c2dm.permission.SEND"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
            <meta-data
                android:name="com.google.android.gms.cloudmessaging.FINISHED_AFTER_HANDLED"
                android:value="true"/>
        </receiver>
        <service
            android:name="com.google.firebase.messaging.FirebaseMessagingService"
            android:exported="false"
            android:directBootAware="true">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false"/>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.google.android.gms.common.api.GoogleApiActivity"
            android:exported="false"/>
        <provider
            android:name="com.google.firebase.provider.FirebaseInitProvider"
            android:exported="false"
            android:authorities="com.rebet.android_frontend.firebaseinitprovider"
            android:initOrder="100"
            android:directBootAware="true"/>
        <receiver
            android:name="com.braze.BrazeFlushPushDeliveryReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.braze.FLUSH_EVENTS"/>
            </intent-filter>
        </receiver>
        <service
            android:name="androidx.room.MultiInstanceInvalidationService"
            android:exported="false"
            android:directBootAware="true"/>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:exported="false"
            android:authorities="com.rebet.android_frontend.androidx-startup">
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"/>
            <meta-data
                android:name="androidx.emoji2.text.EmojiCompatInitializer"
                android:value="androidx.startup"/>
            <meta-data
                android:name="androidx.lifecycle.ProcessLifecycleInitializer"
                android:value="androidx.startup"/>
            <meta-data
                android:name="androidx.profileinstaller.ProfileInstallerInitializer"
                android:value="androidx.startup"/>
        </provider>
        <service
            android:name="androidx.work.impl.background.systemalarm.SystemAlarmService"
            android:enabled="@bool/enable_system_alarm_service_default"
            android:exported="false"
            android:directBootAware="false"/>
        <service
            android:name="androidx.work.impl.background.systemjob.SystemJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:enabled="@bool/enable_system_job_service_default"
            android:exported="true"
            android:directBootAware="false"/>
        <service
            android:name="androidx.work.impl.foreground.SystemForegroundService"
            android:enabled="@bool/enable_system_foreground_service_default"
            android:exported="false"
            android:directBootAware="false"/>
        <receiver
            android:name="androidx.work.impl.utils.ForceStopRunnable.BroadcastReceiver"
            android:enabled="true"
            android:exported="false"
            android:directBootAware="false"/>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy.BatteryChargingProxy"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy.BatteryNotLowProxy"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_OKAY"/>
                <action android:name="android.intent.action.BATTERY_LOW"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy.StorageNotLowProxy"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="android.intent.action.DEVICE_STORAGE_LOW"/>
                <action android:name="android.intent.action.DEVICE_STORAGE_OK"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy.NetworkStateProxy"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.RescheduleReceiver"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxyUpdateReceiver"
            android:enabled="@bool/enable_system_alarm_service_default"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="androidx.work.impl.background.systemalarm.UpdateProxies"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.diagnostics.DiagnosticsReceiver"
            android:permission="android.permission.DUMP"
            android:enabled="true"
            android:exported="true"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="androidx.work.diagnostics.REQUEST_DIAGNOSTICS"/>
            </intent-filter>
        </receiver>
        <provider
            android:name="io.sentry.android.core.SentryInitProvider"
            android:exported="false"
            android:authorities="com.rebet.android_frontend.SentryInitProvider"/>
        <provider
            android:name="io.sentry.android.core.SentryPerformanceProvider"
            android:exported="false"
            android:authorities="com.rebet.android_frontend.SentryPerformanceProvider"
            android:initOrder="200"/>
        <provider
            android:name="zendesk.core.MediaFileProvider"
            android:exported="false"
            android:authorities="com.rebet.android_frontend.zendesk.sdk.user.attachments"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/zendesk_user_attachments"/>
        </provider>
        <provider
            android:name="com.facebook.internal.FacebookInitProvider"
            android:exported="false"
            android:authorities="com.rebet.android_frontend.FacebookInitProvider"/>
        <receiver
            android:name="com.facebook.CurrentAccessTokenExpirationBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.facebook.sdk.ACTION_CURRENT_ACCESS_TOKEN_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.facebook.AuthenticationTokenManager.CurrentAuthenticationTokenChangedBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.facebook.sdk.ACTION_CURRENT_AUTHENTICATION_TOKEN_CHANGED"/>
            </intent-filter>
        </receiver>
        <activity
            android:theme="@style/WhiteBackgroundTheme"
            android:name="androidx.test.core.app.InstrumentationActivityInvoker.BootstrapActivity"
            android:exported="true">
            <intent-filter android:priority="-100">
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/WhiteBackgroundTheme"
            android:name="androidx.test.core.app.InstrumentationActivityInvoker.EmptyActivity"
            android:exported="true">
            <intent-filter android:priority="-100">
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/WhiteBackgroundDialogTheme"
            android:name="androidx.test.core.app.InstrumentationActivityInvoker.EmptyFloatingActivity"
            android:exported="true">
            <intent-filter android:priority="-100">
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <uses-library
            android:name="android.ext.adservices"
            android:required="false"/>
        <meta-data
            android:name="com.bumptech.glide.integration.okhttp3.OkHttpGlideModule"
            android:value="GlideModule"/>
        <receiver
            android:name="androidx.profileinstaller.ProfileInstallReceiver"
            android:permission="android.permission.DUMP"
            android:enabled="true"
            android:exported="true"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.INSTALL_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SKIP_FILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SAVE_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.BENCHMARK_OPERATION"/>
            </intent-filter>
        </receiver>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <service
            android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery"
            android:exported="false">
            <meta-data
                android:name="backend:com.google.android.datatransport.cct.CctBackendFactory"
                android:value="cct"/>
        </service>
        <service
            android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false"/>
        <receiver
            android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver"
            android:exported="false"/>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.jakewharton.processphoenix.ProcessPhoenix"
            android:exported="false"
            android:process=":phoenix"/>
        <meta-data
            android:name="com.facebook.soloader.enabled"
            android:value="false"/>
        <activity
            android:theme="@style/Theme.PlayCore.Transparent"
            android:name="com.google.android.play.core.common.PlayCoreDialogWrapperActivity"
            android:exported="false"
            android:stateNotNeeded="true"/>
        <provider
            android:name="io.sentry.ndk.SentryNdkPreloadProvider"
            android:exported="false"
            android:authorities="com.rebet.android_frontend.SentryNdkPreloadProvider"
            android:initOrder="2000000000"/>
        <meta-data
            android:name="com.android.vending.splits.required"
            android:value="true"/>
        <meta-data
            android:name="com.android.stamp.source"
            android:value="https://play.google.com/store"/>
        <meta-data
            android:name="com.android.stamp.type"
            android:value="STAMP_TYPE_DISTRIBUTION_APK"/>
        <meta-data
            android:name="com.android.vending.splits"
            android:resource="@xml/splits0"/>
        <meta-data
            android:name="com.android.vending.derived.apk.id"
            android:value="3"/>
    </application>
</manifest>
