<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="32"
    android:versionName="1.0.32"
    android:compileSdkVersion="34"
    android:compileSdkVersionCodename="14"
    android:requiredSplitTypes="base__abi,base__density"
    android:splitTypes=""
    package="com.translator.alllanguagetranslations.ath"
    platformBuildVersionCode="34"
    platformBuildVersionName="14">
    <uses-sdk
        android:minSdkVersion="24"
        android:targetSdkVersion="34"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <queries>
        <intent>
            <action android:name="android.speech.RecognitionService"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <category android:name="android.intent.category.BROWSABLE"/>
            <data android:scheme="https"/>
        </intent>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService"/>
        </intent>
        <package android:name="com.facebook.katana"/>
        <intent>
            <action android:name="com.android.vending.billing.InAppBillingService.BIND"/>
        </intent>
    </queries>
    <uses-permission android:name="android.permission.ACCESS_ADSERVICES_AD_ID"/>
    <uses-permission android:name="android.permission.ACCESS_ADSERVICES_ATTRIBUTION"/>
    <uses-permission android:name="android.permission.ACCESS_ADSERVICES_TOPICS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"/>
    <permission
        android:name="com.translator.alllanguagetranslations.ath.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"
        android:protectionLevel="signature"/>
    <uses-permission android:name="com.translator.alllanguagetranslations.ath.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"/>
    <uses-permission android:name="com.android.vending.BILLING"/>
    <application
        android:theme="@style/Theme.TranslatorApp"
        android:label="@string/app_name"
        android:icon="@mipmap/app_ic_float"
        android:name="dev.cct.translatorapp.MainApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:supportsRtl="false"
        android:extractNativeLibs="false"
        android:fullBackupContent="@xml/backup_rules"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:localeConfig="@xml/locales_config">
        <activity
            android:name="dev.cct.translatorapp.ui.TranslatorResultView"
            android:exported="false"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name="dev.cct.translatorapp.ui.TextTranslation"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:theme="@style/adViewThemes"
            android:name="com.google.android.gms.ads.AdActivity"
            android:exported="false"
            android:configChanges="smallestScreenSize|screenSize|uiMode|screenLayout|orientation|keyboardHidden|keyboard"/>
        <activity
            android:name="dev.cct.translatorapp.ads.LoadingAdView"
            android:exported="false"/>
        <activity
            android:name="dev.cct.translatorapp.ui.TranslateOutputActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name="dev.cct.translatorapp.ui.TranslateInputActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name="dev.cct.translatorapp.ui.GeneralActivity"
            android:exported="false"/>
        <activity
            android:name="dev.cct.translatorapp.ui.PhrasebookActivity"
            android:exported="false"
            android:hardwareAccelerated="true"/>
        <activity
            android:name="dev.cct.translatorapp.ui.PremiumActivity"
            android:exported="false"/>
        <activity
            android:name="dev.cct.translatorapp.ui.LangSelectionActivity"
            android:exported="false"/>
        <activity
            android:name="dev.cct.translatorapp.ui.WidgetActivity"
            android:exported="false"
            android:hardwareAccelerated="true"/>
        <activity
            android:name="dev.cct.translatorapp.ui.HistoryActivity"
            android:exported="false"/>
        <activity
            android:name="dev.cct.translatorapp.ui.FavoriteActivity"
            android:exported="false"/>
        <activity
            android:name="dev.cct.translatorapp.ui.DictionaryActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name="dev.cct.translatorapp.ui.ConversationActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:hardwareAccelerated="true"/>
        <activity
            android:name="dev.cct.translatorapp.ui.SpeechToTextActivity"
            android:exported="false"/>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/app_id"/>
        <activity
            android:name="dev.cct.translatorapp.ui.HomeScreenActivity"
            android:exported="false"
            android:configChanges="uiMode"
            android:windowSoftInputMode="adjustPan"
            android:hardwareAccelerated="true"/>
        <activity
            android:name="dev.cct.translatorapp.ui.SettingActivity"
            android:exported="false"/>
        <activity
            android:name="dev.cct.translatorapp.ui.LanguageActivity"
            android:exported="false"
            android:hardwareAccelerated="true"/>
        <activity
            android:name="dev.cct.translatorapp.ui.LunchingView"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <service
            android:theme="@style/Theme.TranslatorApp"
            android:name="dev.cct.translatorapp.services.TranslatorServices"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="shortService"/>
        <meta-data
            android:name="com.google.android.gms.ads.flag.OPTIMIZE_INITIALIZATION"
            android:value="true"/>
        <meta-data
            android:name="com.google.android.gms.ads.flag.OPTIMIZE_AD_LOADING"
            android:value="true"/>
        <provider
            android:name="com.google.android.gms.ads.MobileAdsInitProvider"
            android:exported="false"
            android:authorities="com.translator.alllanguagetranslations.ath.mobileadsinitprovider"
            android:initOrder="100"/>
        <service
            android:name="com.google.android.gms.ads.AdService"
            android:enabled="true"
            android:exported="false"/>
        <activity
            android:name="com.google.android.gms.ads.OutOfContextTestingActivity"
            android:exported="false"
            android:configChanges="smallestScreenSize|screenSize|uiMode|screenLayout|orientation|keyboardHidden|keyboard"/>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.google.android.gms.ads.NotificationHandlerActivity"
            android:exported="false"
            android:taskAffinity=""
            android:excludeFromRecents="true"
            android:launchMode="singleTask"/>
        <property
            android:name="android.adservices.AD_SERVICES_CONFIG"
            android:resource="@xml/gma_ad_services_config"/>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:exported="false"
            android:authorities="com.translator.alllanguagetranslations.ath.androidx-startup">
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"/>
            <meta-data
                android:name="androidx.emoji2.text.EmojiCompatInitializer"
                android:value="androidx.startup"/>
            <meta-data
                android:name="androidx.lifecycle.ProcessLifecycleInitializer"
                android:value="androidx.startup"/>
            <meta-data
                android:name="androidx.profileinstaller.ProfileInstallerInitializer"
                android:value="androidx.startup"/>
        </provider>
        <service
            android:name="androidx.work.impl.background.systemalarm.SystemAlarmService"
            android:enabled="@bool/enable_system_alarm_service_default"
            android:exported="false"
            android:directBootAware="false"/>
        <service
            android:name="androidx.work.impl.background.systemjob.SystemJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:enabled="@bool/enable_system_job_service_default"
            android:exported="true"
            android:directBootAware="false"/>
        <service
            android:name="androidx.work.impl.foreground.SystemForegroundService"
            android:enabled="@bool/enable_system_foreground_service_default"
            android:exported="false"
            android:directBootAware="false"/>
        <receiver
            android:name="androidx.work.impl.utils.ForceStopRunnable.BroadcastReceiver"
            android:enabled="true"
            android:exported="false"
            android:directBootAware="false"/>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy.BatteryChargingProxy"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy.BatteryNotLowProxy"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_OKAY"/>
                <action android:name="android.intent.action.BATTERY_LOW"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy.StorageNotLowProxy"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="android.intent.action.DEVICE_STORAGE_LOW"/>
                <action android:name="android.intent.action.DEVICE_STORAGE_OK"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy.NetworkStateProxy"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.RescheduleReceiver"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxyUpdateReceiver"
            android:enabled="@bool/enable_system_alarm_service_default"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="androidx.work.impl.background.systemalarm.UpdateProxies"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.diagnostics.DiagnosticsReceiver"
            android:permission="android.permission.DUMP"
            android:enabled="true"
            android:exported="true"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="androidx.work.diagnostics.REQUEST_DIAGNOSTICS"/>
            </intent-filter>
        </receiver>
        <service
            android:name="androidx.room.MultiInstanceInvalidationService"
            android:exported="false"
            android:directBootAware="true"/>
        <service
            android:name="com.google.firebase.components.ComponentDiscoveryService"
            android:exported="false"
            android:directBootAware="true">
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.analytics.ktx.FirebaseAnalyticsKtxRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.remoteconfig.ktx.FirebaseRemoteConfigKtxRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.remoteconfig.RemoteConfigRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.abt.component.AbtRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.ktx.FirebaseCommonKtxRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <receiver
            android:name="com.google.android.gms.measurement.AppMeasurementReceiver"
            android:enabled="true"
            android:exported="false"/>
        <service
            android:name="com.google.android.gms.measurement.AppMeasurementService"
            android:enabled="true"
            android:exported="false"/>
        <service
            android:name="com.google.android.gms.measurement.AppMeasurementJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:enabled="true"
            android:exported="false"/>
        <provider
            android:name="com.google.firebase.provider.FirebaseInitProvider"
            android:exported="false"
            android:authorities="com.translator.alllanguagetranslations.ath.firebaseinitprovider"
            android:initOrder="100"
            android:directBootAware="true"/>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.google.android.gms.common.api.GoogleApiActivity"
            android:exported="false"/>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.facebook.ads.AudienceNetworkActivity"
            android:exported="false"
            android:configChanges="smallestScreenSize|screenSize|screenLayout|orientation|keyboardHidden"/>
        <provider
            android:name="com.facebook.ads.AudienceNetworkContentProvider"
            android:exported="false"
            android:authorities="com.translator.alllanguagetranslations.ath.AudienceNetworkContentProvider"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <uses-library
            android:name="android.ext.adservices"
            android:required="false"/>
        <activity
            android:theme="@style/tt_landing_page"
            android:name="com.bytedance.sdk.openadsdk.activity.TTLandingPageActivity"
            android:launchMode="standard"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:theme="@style/tt_landing_page"
            android:name="com.bytedance.sdk.openadsdk.activity.TTPlayableLandingPageActivity"
            android:launchMode="standard"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:theme="@style/tt_landing_page"
            android:name="com.bytedance.sdk.openadsdk.activity.TTVideoLandingPageLink2Activity"
            android:launchMode="standard"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.bytedance.sdk.openadsdk.activity.TTDelegateActivity"
            android:launchMode="standard"/>
        <activity
            android:theme="@style/tt_privacy_landing_page"
            android:name="com.bytedance.sdk.openadsdk.activity.TTWebsiteActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait"/>
        <service android:name="com.bytedance.sdk.openadsdk.multipro.aidl.BinderPoolService"/>
        <activity
            android:theme="@style/tt_app_open_ad_no_animation"
            android:name="com.bytedance.sdk.openadsdk.activity.TTAppOpenAdActivity"
            android:launchMode="standard"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:theme="@style/tt_full_screen_new"
            android:name="com.bytedance.sdk.openadsdk.activity.TTRewardVideoActivity"
            android:launchMode="standard"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:theme="@style/tt_full_screen_new"
            android:name="com.bytedance.sdk.openadsdk.activity.TTRewardExpressVideoActivity"
            android:launchMode="standard"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:theme="@style/tt_full_screen_new"
            android:name="com.bytedance.sdk.openadsdk.activity.TTFullScreenVideoActivity"
            android:launchMode="standard"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:theme="@style/tt_full_screen_new"
            android:name="com.bytedance.sdk.openadsdk.activity.TTFullScreenExpressVideoActivity"
            android:launchMode="standard"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:theme="@style/tt_full_screen_interaction"
            android:name="com.bytedance.sdk.openadsdk.activity.TTInterstitialActivity"
            android:launchMode="standard"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:theme="@style/tt_full_screen_interaction"
            android:name="com.bytedance.sdk.openadsdk.activity.TTInterstitialExpressActivity"
            android:launchMode="standard"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:theme="@style/tt_full_screen_new"
            android:name="com.bytedance.sdk.openadsdk.activity.AdActivity"
            android:launchMode="standard"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <meta-data
            android:name="com.google.android.play.billingclient.version"
            android:value="6.0.1"/>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.android.billingclient.api.ProxyBillingActivity"
            android:exported="false"
            android:configChanges="screenSize|screenLayout|orientation|keyboardHidden|keyboard"/>
        <service
            android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery"
            android:exported="false">
            <meta-data
                android:name="backend:com.google.android.datatransport.cct.CctBackendFactory"
                android:value="cct"/>
        </service>
        <service
            android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false"/>
        <receiver
            android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver"
            android:exported="false"/>
        <receiver
            android:name="androidx.profileinstaller.ProfileInstallReceiver"
            android:permission="android.permission.DUMP"
            android:enabled="true"
            android:exported="true"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.INSTALL_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SKIP_FILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SAVE_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.BENCHMARK_OPERATION"/>
            </intent-filter>
        </receiver>
        <meta-data
            android:name="com.android.vending.splits.required"
            android:value="true"/>
        <meta-data
            android:name="com.android.stamp.source"
            android:value="https://play.google.com/store"/>
        <meta-data
            android:name="com.android.stamp.type"
            android:value="STAMP_TYPE_DISTRIBUTION_APK"/>
        <meta-data
            android:name="com.android.vending.splits"
            android:resource="@xml/splits0"/>
        <meta-data
            android:name="com.android.vending.derived.apk.id"
            android:value="2"/>
    </application>
</manifest>
