<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>160sstip.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{688,456}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{688,456}}</string>
                <key>sourceSize</key>
                <string>{688,456}</string>
            </dict>
            <key>160tx07.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,670},{38,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,45}}</string>
                <key>sourceSize</key>
                <string>{38,45}</string>
            </dict>
            <key>160tx15.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,629},{64,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,46}}</string>
                <key>sourceSize</key>
                <string>{64,46}</string>
            </dict>
            <key>160txanniu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,368},{259,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,77}}</string>
                <key>sourceSize</key>
                <string>{259,77}</string>
            </dict>
            <key>160txanniu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,368},{259,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,77}}</string>
                <key>sourceSize</key>
                <string>{259,77}</string>
            </dict>
            <key>160txbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{919,364}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{919,364}}</string>
                <key>sourceSize</key>
                <string>{919,364}</string>
            </dict>
            <key>160txbiaotii.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,826},{863,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{863,69}}</string>
                <key>sourceSize</key>
                <string>{863,69}</string>
            </dict>
            <key>160txcollect.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,368},{300,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,38}}</string>
                <key>sourceSize</key>
                <string>{300,38}</string>
            </dict>
            <key>160txgrand.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,930},{580,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{580,72}}</string>
                <key>sourceSize</key>
                <string>{580,72}</string>
            </dict>
            <key>160txgrand2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,897},{826,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{826,31}}</string>
                <key>sourceSize</key>
                <string>{826,31}</string>
            </dict>
            <key>160txqiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,629},{135,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,128}}</string>
                <key>sourceSize</key>
                <string>{135,128}</string>
            </dict>
            <key>160txto.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,930},{271,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,38}}</string>
                <key>sourceSize</key>
                <string>{271,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>res_alpha1.pkm</string>
            <key>size</key>
            <string>{923,1004}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7256c3e0df1126fd29dd1181efe14465:1/1$</string>
            <key>textureFileName</key>
            <string>res_alpha1.pkm</string>
        </dict>
    </dict>
</plist>
