<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>i_x4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1087,1031}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,55},{1087,1031}}</string>
                <key>sourceSize</key>
                <string>{1531,1143}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>symbol_super_tp0.pkm</string>
            <key>size</key>
            <string>{1091,1035}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db68f1bbcabfb7dde835617f66b01958:1/2$</string>
            <key>textureFileName</key>
            <string>symbol_super_tp0.pkm</string>
        </dict>
    </dict>
</plist>
