<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="18496"
    android:versionName="v2.9.2-2"
    android:compileSdkVersion="35"
    android:compileSdkVersionCodename="15"
    android:requiredSplitTypes="base__abi,base__density"
    android:splitTypes=""
    package="com.crrepa.band.aviator"
    platformBuildVersionCode="35"
    platformBuildVersionName="15">
    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="35"/>
    <queries>
        <package android:name="com.oneplus.gallery"/>
        <package android:name="com.gionee.gallery"/>
        <package android:name="com.tencent.mm"/>
        <package android:name="com.coloros.calendar"/>
        <package android:name="com.vivo.gallery"/>
        <intent>
            <action android:name="android.intent.action.SEND"/>
            <data android:mimeType="*/*"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE"/>
        </intent>
        <package android:name="com.google.android.apps.maps"/>
    </queries>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"/>
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE"/>
    <uses-permission android:name="android.permission.READ_CALL_LOG"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.ANSWER_PHONE_CALLS"/>
    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>
    <uses-permission android:name="com.coloros.permission.READ_COLOROS_CALENDAR"/>
    <uses-permission android:name="com.coloros.permission.WRITE_COLOROS_CALENDAR"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <uses-permission android:name="android.permission.MEDIA_PROJECTION"/>
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true"/>
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"/>
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION"/>
    <uses-feature
        android:name="android.hardware.sensor.stepcounter"
        android:required="false"/>
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED"/>
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"/>
    <uses-feature
        android:glEsVersion="0x20000"
        android:required="true"/>
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"/>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <permission
        android:name="com.crrepa.band.aviator.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"
        android:protectionLevel="signature"/>
    <uses-permission android:name="com.crrepa.band.aviator.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"/>
    <application
        android:theme="@style/AppTheme"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:name="com.crrepa.band.my.App"
        android:allowBackup="false"
        android:supportsRtl="true"
        android:extractNativeLibs="false"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:requestLegacyExternalStorage="true"
        android:allowNativeHeapPointerTagging="false">
        <activity
            android:name="com.crrepa.band.my.device.watchfacenew.photo.NewCustomWatchFaceActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.device.watchfacenew.photo.GalleryImgCropActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.profile.backgroundrun.BackgroundRunActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false"/>
        <activity
            android:theme="@style/AppTheme.Splash"
            android:name="com.crrepa.band.my.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.crrepa.band.my.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:name="com.crrepa.band.my.home.guidance.privacy.PrivacyPolicyActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:name="com.crrepa.band.my.home.PrivacyPolicyActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:name="com.crrepa.band.my.home.guidance.privacy.PrivatePolicyWebActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:name="com.crrepa.band.my.home.guidance.info.GuidanceSetGenderActivity"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:name="com.crrepa.band.my.home.guidance.info.GuidanceSetAgeActivity"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:name="com.crrepa.band.my.home.guidance.info.GuidanceSetHeightActivity"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:name="com.crrepa.band.my.home.guidance.info.GuidanceSetWeightActivity"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:name="com.crrepa.band.my.home.guidance.info.GuidanceSetStepLengthActivity"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:name="com.crrepa.band.my.home.guidance.permission.NotificationPermissionActivity"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:name="com.crrepa.band.my.home.guidance.permission.LocationPermissionActivity"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:name="com.crrepa.band.my.home.guidance.permission.BluetoothPermissionActivity"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:name="com.crrepa.band.my.device.scan.BandScanActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.device.scan.ScanHelpActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.profile.userinfo.UserInfoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.profile.goalsetting.GoalStepsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.profile.about.AboutUsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.profile.wechatsport.WechatSportActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.device.setting.other.BandOtherSettingActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.device.localmusic.LocalMusicMainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.device.localmusic.LocalMusicSelectActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.device.localvideo.LocalVideoMainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.device.localvideo.LocalVideoEditActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.device.localphoto.LocalPhotoMainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.device.localphoto.LocalPhotoSelectedActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.device.alarm.BandAlarmActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.device.alarm.BandAlarmEditActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.device.switchui.BandFunctionActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@style/AppTheme.Camera"
            android:name="com.crrepa.band.my.device.camera.GoogleCameraActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.device.pushmessage.BandNotificationActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.device.GsensorCalibrationActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.device.ota.BandUpgradeActivity"
            android:screenOrientation="portrait"
            android:configChanges="layoutDirection|screenSize|locale"/>
        <activity
            android:name="com.crrepa.band.my.device.setting.periodchoose.PeriodChooceActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.training.TrainingSettingActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.training.TrainingWearTipsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.training.map.NoMapTrainingActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.training.map.NoMapTrainingPathActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.training.map.replay.TrainingPathReplayActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.training.map.GoogleMapTrainingPathActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.training.TrainingHistoryActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.training.gomoresport.exercisecapacity.ExerciseCapacityMainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.training.gomoresport.exercisecapacity.ExerciseCapacityStatisticsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.training.gomoresport.traininganalysis.TrainingAnalysisMainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.training.gomoresport.GomoreSportCalendarActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.training.gomoresport.traininganalysis.TrainingAnalysisStatisticsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.training.gomoresport.trainingrecovery.TrainingRecoveryMainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.device.watchface.WatchFaceEditActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.device.ai.picture.AIPictureActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.device.ai.picture.AIPictureHistoryActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.device.ai.picture.AIPictureResultActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.device.ai.picture.AIWatchFaceEditActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.device.ai.chat.AIChatActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.device.watchfacenew.video.VideoWatchFaceMainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.device.watchfacenew.video.VideoWatchFaceEditActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.device.watchfacenew.ai.HisiliconAIWatchFaceEditActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.device.watchfacenew.ai.JieliAIWatchFaceEditActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@style/Theme.UCrop"
            android:name="com.yalantis.ucrop.UCropActivity"
            android:exported="false"/>
        <activity
            android:name="com.crrepa.band.my.training.map.GoogleMapTrainingActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.device.setting.citysearch.NetCitySearchActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.health.ecg.BandEcgMeasureActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.health.ecg.BandEcgResultActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name="com.crrepa.band.my.health.base.editpage.EditInfoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.health.base.inputpage.TextInputActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.health.weight.WeightStatisticsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.health.weight.WeightHistoryActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.health.water.WaterStatisticsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.health.water.WaterSettingActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.health.water.WaterCalendarActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.health.water.WaterHistoryActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@style/AppTheme.Dialog"
            android:name="com.crrepa.band.my.health.water.WaterReminderActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.health.physiologicalcycle.PhysiologicalReminderActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.health.physiologicalcycle.PhysiologicalCalendarActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.health.steps.BandStepStatisticsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.health.steps.BandStepHistoryActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.health.sleep.BandSleepStatisticsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.health.sleep.BandSleepHistoryActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.health.bloodoxygen.BandBoStatisticsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.health.ecg.BandEcgStatisticsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.health.heartrate.BandOnceHeartRateStatisticsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.training.BandTrainingStatisticsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.health.heartrate.BandActivieHeartRateActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.health.heartrate.Band24HourHeartRateStatisticsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.health.heartrate.Band24HourHeartRateHistoryActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.health.bloodpressure.BandBpStatisticsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.health.bodytemperature.BandTimingTempStatisticsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.health.bodytemperature.BandTimingTempHistoryActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.health.bodytemperature.BandOnceTempStatisticsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.device.contact.QuickContactActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.device.contact.SelectContactActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.health.bloodoxygen.BandTimingBloodOxygenActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.health.bloodoxygen.BandTimingBloodOxygenHistoryActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.training.RequestLocationActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.profile.googlefit.GoogleFitActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.profile.strava.StravaMainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.profile.strava.StravaOauthActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="strava"
                    android:host="dafit_oauth"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.crrepa.band.my.device.pillreminder.AddNewPillActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.device.pillreminder.PillReminderActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.device.ecard.ECardActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.device.ecard.ECardEditActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.device.calendar.CalendarSyncActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.device.calendar.CalendarEventActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.health.hrv.BandHrvStatisticsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.health.pressure.BandStressStatisticsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.device.setting.quickresponse.QuickResponseSettingActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@style/AppTheme.Camera"
            android:name="com.crrepa.band.my.device.watchface.DressWatchFaceCameraActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.device.watchface.StoreWatchFaceMainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.device.watchface.StoreWatchFaceDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.device.watchface.StoreWatchFaceListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.device.appmarket.AppMarketMainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.device.appmarket.AppMarketAppDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@style/AppTheme.Camera"
            android:name="com.crrepa.band.my.device.watchface.DressWatchFaceActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name="com.crrepa.band.my.device.watchface.DressPhotoCropActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.device.watchface.DownloadWatchFaceEditActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.device.stock.StockSettingActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.device.stock.StockSearchActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.profile.goalsetting.GoalsSettingActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.training.GpsTrainingActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.training.goalsetting.GpsTrainingGoalActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.device.customkey.activity.CustomKeyHomeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.device.customkey.activity.CustomKeyEditActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.device.customkey.activity.FeatureListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.device.customkey.activity.TrainingCategoryListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.device.customkey.activity.TrainingListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.device.customkey.activity.ActionListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.device.customkey.activity.GoalSettingActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.device.ota.restore.RestoreFirmwareActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.device.muslim.MuslimHomeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.device.muslim.PrayTimingSettingActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.device.muslim.TasbihReminderSettingActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.device.muslim.AllahNamesActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.device.muslim.FavoriteAllahNamesActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.device.muslim.DuasDirectoryActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.device.muslim.FavoriteDuasDirectoryActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.device.muslim.DuasDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.device.muslim.FavoriteDuasDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.device.muslim.MuslimDirectionActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.device.muslim.PrayerCompensationActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.device.worldclock.WorldClockActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.device.worldclock.SelectClockActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.device.scan.DeviceBindingSuccessActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.WebActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.profile.guide.WhiteListSettingActicity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.health.pressure.BandTimingStressHistoryActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.health.pressure.BandStressHistoryActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.device.cricket.CricketActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.device.cricket.CricketSettingActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.health.physiologicalcycle.PhysiologicalGuideActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.device.setting.sos.SosDetailsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.device.scan.BandCaptureActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.device.scan.BandPairResultActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.device.appmarket.openharmony.OpenWearPlayActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.device.appmarket.openharmony.AppStoreActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.crrepa.band.my.device.mapnavigation.activity.NavigationSearchActivity"
            android:exported="false"/>
        <activity
            android:name="com.crrepa.band.my.device.mapnavigation.activity.NavigationMainActivity"
            android:exported="false"/>
        <service
            android:name="com.crrepa.band.my.ble.band.connect.BandConnectService"
            android:enabled="true"
            android:foregroundServiceType="connectedDevice"/>
        <service
            android:label="@string/app_name"
            android:name="com.crrepa.band.my.device.pushmessage.notify.service.NotificationCollectorService"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService"/>
            </intent-filter>
        </service>
        <service android:name="com.crrepa.band.my.device.pushmessage.notify.service.NotificationCollectorMonitorService"/>
        <service
            android:name="com.crrepa.band.my.device.weather.timer.WeatherJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service
            android:name="com.crrepa.band.my.training.map.GPSTrainingService"
            android:enabled="true"
            android:foregroundServiceType="connectedDevice"/>
        <receiver
            android:name="com.crrepa.band.my.common.receiver.LocaleChangeReceiver"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.LOCALE_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.crrepa.band.my.common.receiver.AwakenReceiver"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.SCREEN_ON"/>
                <action android:name="android.intent.action.SCREEN_OFF"/>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.moyoung.dafit.module.common.network.NetworkChangeReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="15eb52b97b01661136e6450b460dff7c"/>
        <service android:name="com.amap.api.location.APSService"/>
        <activity android:name="com.crrepa.ble.trans.upgrade.NotificationActivity"/>
        <service android:name="com.crrepa.ble.trans.upgrade.DfuService"/>
        <service
            android:name="com.realsil.sdk.dfu.DfuService"
            android:enabled="true"
            android:exported="false"/>
        <service
            android:name="com.crrepa.ble.sifli.dfu.SifliDFUService"
            android:enabled="true"
            android:exported="false"/>
        <service
            android:name="com.sifli.watchfacelibrary.SifliWatchfaceService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="connectedDevice"/>
        <service
            android:name="com.sifli.serialtransport.serialTransService"
            android:enabled="true"
            android:exported="false"/>
        <service
            android:name="com.crrepa.band.my.health.water.service.WaterReminderService"
            android:enabled="true"
            android:foregroundServiceType="connectedDevice"/>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA3LO8ldAccXfa5MzlofRkh4vO2-lnpiH0"/>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:authorities="com.crrepa.band.aviator.fileProvider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
        <service
            android:name="com.crrepa.band.my.device.ai.AIForegroundService"
            android:enabled="true"
            android:foregroundServiceType="connectedDevice"/>
        <service
            android:name="com.crrepa.band.my.training.map.replay.ScreenRecordingService"
            android:foregroundServiceType="connectedDevice"/>
        <service
            android:name="com.liulishuo.filedownloader.services.FileDownloadService.SharedMainProcessService"
            android:foregroundServiceType="connectedDevice"/>
        <service
            android:name="com.liulishuo.filedownloader.services.FileDownloadService.SeparateProcessService"
            android:process=":filedownloader"
            android:foregroundServiceType="connectedDevice"/>
        <service
            android:name="com.crrepa.band.my.ble.watchconnect.WatchConnectKitService"
            android:exported="true">
            <intent-filter>
                <action android:name="OH_WATCH_CONNECT_ACTION"/>
            </intent-filter>
        </service>
        <activity
            android:name="com.crrepa.band.my.profile.feedback.HelpAndFeedbackWebActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.moyoung.classes.completed.ClassesHistoryActivity"
            android:exported="false"/>
        <activity
            android:name="com.moyoung.classes.meditation.localclass.LocalClassDetailActivity"
            android:exported="false"/>
        <activity
            android:name="com.moyoung.classes.meditation.localclass.LocalClassPlayActivity"
            android:exported="false"/>
        <activity
            android:name="com.moyoung.classes.meditation.localclass.LocalClassDoneActivity"
            android:exported="false"/>
        <activity
            android:name="com.moyoung.classes.meditation.onlineclass.OnlineClassDetailActivity"
            android:exported="false"/>
        <activity
            android:name="com.moyoung.classes.meditation.onlineclass.OnlineClassPlayActivity"
            android:exported="false"/>
        <activity
            android:name="com.moyoung.classes.meditation.onlineclass.OnlineClassDoneActivity"
            android:exported="false"/>
        <activity
            android:name="com.moyoung.classes.coach.CoachCourseDetailActivity"
            android:exported="false"/>
        <activity
            android:name="com.moyoung.classes.coach.playing.CoachCoursePlayingActivity"
            android:exported="false"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:name="com.moyoung.classes.coach.playing.CoachCourseRestActivity"
            android:exported="false"
            android:screenOrientation="behind"/>
        <activity
            android:name="com.moyoung.classes.coach.CoachCourseDoneActivity"
            android:exported="false"/>
        <activity
            android:theme="@style/permission_PermissionActivity"
            android:name="com.yhao.floatwindow.FloatActivity"
            android:launchMode="standard"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:exported="false"
            android:authorities="com.crrepa.band.aviator.androidx-startup">
            <meta-data
                android:name="com.drake.net.internal.NetInitializer"
                android:value="androidx.startup"/>
            <meta-data
                android:name="androidx.emoji2.text.EmojiCompatInitializer"
                android:value="androidx.startup"/>
            <meta-data
                android:name="androidx.lifecycle.ProcessLifecycleInitializer"
                android:value="androidx.startup"/>
            <meta-data
                android:name="androidx.profileinstaller.ProfileInstallerInitializer"
                android:value="androidx.startup"/>
        </provider>
        <activity
            android:theme="@style/ActivityTranslucent"
            android:name="com.blankj.utilcode.util.UtilsTransActivity4MainProcess"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:theme="@style/ActivityTranslucent"
            android:name="com.blankj.utilcode.util.UtilsTransActivity"
            android:multiprocess="true"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <provider
            android:name="com.blankj.utilcode.util.UtilsFileProvider"
            android:exported="false"
            android:authorities="com.crrepa.band.aviator.utilcode.fileprovider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/util_code_provider_paths"/>
        </provider>
        <service
            android:name="com.blankj.utilcode.util.MessengerUtils.ServerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.crrepa.band.aviator.messenger"/>
            </intent-filter>
        </service>
        <service
            android:name="com.google.android.gms.metadata.ModuleDependencies"
            android:enabled="false"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.metadata.MODULE_DEPENDENCIES"/>
            </intent-filter>
            <meta-data
                android:name="photopicker_activity:0:required"
                android:value=""/>
        </service>
        <provider
            android:name="com.just.agentweb.AgentWebFileProvider"
            android:exported="false"
            android:authorities="com.crrepa.band.aviator.AgentWebFileProvider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/web_files_public"/>
        </provider>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <meta-data
            android:name="com.google.gms.fitness.sdk.version"
            android:value="21.1.0"/>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity"
            android:exported="false"
            android:excludeFromRecents="true"/>
        <service
            android:name="com.google.android.gms.auth.api.signin.RevocationBoundService"
            android:permission="com.google.android.gms.auth.api.signin.permission.REVOCATION_NOTIFICATION"
            android:exported="true"
            android:visibleToInstantApps="true"/>
        <provider
            android:name="com.squareup.picasso.PicassoProvider"
            android:exported="false"
            android:authorities="com.crrepa.band.aviator.com.squareup.picasso"/>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.google.android.gms.common.api.GoogleApiActivity"
            android:exported="false"/>
        <receiver
            android:name="com.google.android.gms.measurement.AppMeasurementReceiver"
            android:enabled="true"
            android:exported="false"/>
        <service
            android:name="com.google.android.gms.measurement.AppMeasurementService"
            android:enabled="true"
            android:exported="false"/>
        <service
            android:name="com.google.android.gms.measurement.AppMeasurementJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:enabled="true"
            android:exported="false"/>
        <service
            android:name="com.google.firebase.components.ComponentDiscoveryService"
            android:exported="false"
            android:directBootAware="true">
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <provider
            android:name="com.google.firebase.provider.FirebaseInitProvider"
            android:exported="false"
            android:authorities="com.crrepa.band.aviator.firebaseinitprovider"
            android:initOrder="100"
            android:directBootAware="true"/>
        <receiver
            android:name="androidx.profileinstaller.ProfileInstallReceiver"
            android:permission="android.permission.DUMP"
            android:enabled="true"
            android:exported="true"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.INSTALL_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SKIP_FILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SAVE_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.BENCHMARK_OPERATION"/>
            </intent-filter>
        </receiver>
        <meta-data
            android:name="com.android.vending.splits.required"
            android:value="true"/>
        <meta-data
            android:name="com.android.stamp.source"
            android:value="https://play.google.com/store"/>
        <meta-data
            android:name="com.android.stamp.type"
            android:value="STAMP_TYPE_DISTRIBUTION_APK"/>
        <meta-data
            android:name="com.android.vending.splits"
            android:resource="@xml/splits0"/>
        <meta-data
            android:name="com.android.vending.derived.apk.id"
            android:value="3"/>
    </application>
</manifest>
