<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version='1.0'>
<dict>
    <key>cachedir</key>
    <string>DmDownloadRes</string>
    <key>server</key>
    <string>https://d2rargdj3vlbg6.cloudfront.net/diamondspin/Resources/</string>
    <key>script_server</key>
    <string>https://d1w7r0sn1er70x.cloudfront.net/version/</string>
    <key>port</key>
    <integer>1237</integer>
    <key>logLevel</key>
    <integer>1</integer>
    <key>version</key>
    <string>4.90</string>
    <key>apiVersion</key>
    <integer>20210708</integer>
    <key>package</key>
    <string>com.diamondlife.slots.vegas.free</string>
    <key>FacebookNamespace</key>
    <string>hotvegasslot</string>
    <key>FacebookLink</key>
    <string>318215931980023</string>
    <key>platform</key>
    <string>android</string>
    <key>res</key>
    <string>res</string>    
    <key>versionCode</key>
    <string>534</string>
    <key>authoritiesid</key>
    <string>318215931980023</string>
    <key>includedir</key>
    <array>
        <string>Themes</string>
    </array>
    <key>md5</key>
    <string>diamond_android_luajit</string>
    <key>deeplinkurl</key>
    <string>com.grandegames.slots</string>
    <key>commitID</key>
    <string>c5890653d</string>
    <key>HELPSHIFT_API_KEY</key>
    <string>11a61fa9f1e52920d13be16148c6fc5f</string>
    <key>HELPSHIFT_DOMAIN</key>
    <string>bolegames.helpshift.com</string>
    <key>HELPSHIFT_APP_ID</key>
    <string>bolegames_platform_20180627024648816-f4df3aaed4e091b</string>
    <key>supportBigCart</key>
    <integer>20191220</integer>
    <key>dynamicLoadLua</key>
    <integer>1</integer>
</dict>
</plist>